
<!DOCTYPE html>
<html lang="en">

<head>
<title> Editing{{item.name}} </title>
<link rel="stylesheet" href="/static/style/style.css"/>

</head>
{#---form table in edit page------------#}
<body> 
<nav>
<ul id="nav_bar">
    <a href="/product">Products</a>
    <a href="/">Home</a>
    <a href="/inventory">Inventory</a>
</ul>
</nav>
    <form  method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{item.name}}">
        <label for="total">Total:</label>
        <input type="text" name="total" value="{{item.total}}">
        <label for="link">Link:</label>
        <input type="text" name="link" value="{{item.link}}">
        <input type="submit">
    </form>

<h1 > {{greeting}} , {{name}} </h1>
<img class="ed" src="/static/img/store.jpg" alt="image" style="width:560px"/>
</body>
<footer>
    {{foot}}
</footer>
</html>