<!DOCTYPE html>
<html lang="en">

<head>
<title > {{greeting}} </title>
<link rel="stylesheet" href="/static/style/style.css"/>
</head>
<body> 
<h1 class="t"> {{greeting}} </h1>
<nav>
<ul id="nav_bar"> 
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/inventory">Inventory</a>
</ul>
</nav>
<img class="s1" src="/static/img/store2.jpg" alt="image" />
<div class="txt"> Samples </div>
<div id="slideshow">
{% for item in inv%}
    <div class=""img_block>
    <img class="img_box" src="{{item.link}}"/>
    </div>
{% endfor%}
</div>
</body>
<footer>
    {{foot}}
</footer>
</html>