 /* * {
     margin: 0;
     padding: 10px 70px;
     background-color: rgb(115, 121, 124);
     color: rgb(24, 11, 5);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } */

 form {
     padding: 20px 30px;
     background-color: rgb(240, 116, 71);
 }

 table {
     margin: 10px 50px;
     padding: 10px 30px;
 }

 .txt {
     text-align: center;
     font-size: 30pt;
     background-color: rgb(240, 116, 71);
 }

 .td {
     box-sizing: border-box;
     font-size: 25pt;
 }

 .t {
     text-align: center;
     padding: 5px 10px;
     margin: 0;
     font-size: 35pt;
     background-color: rgb(240, 116, 71);
 }

 table, th, td {
     border: 2px solid rgb(218, 123, 14);
 }

 a:hover {
     color: white;
     background-color: rgb(240, 116, 71);
 }

 footer {
     font-size: 1em;
     text-align: center;
     background-color: rgb(240, 116, 71);
 }

 #product_table {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 @media only screen and (min-width: 786px) {

    /* #site {
    width: 780px;
    margin: 15px auto;
    }

    aside {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    }

    aside>ul {

        margin: 15px; */

    /* }

    main {

        box-sizing: border-box;

        display: inline-block;

        width: 80%;

    } */

}

 /* .hline {
     font-size: 18pt;
 } */

 /* body {
     margin: 50px;
     width: 100vw;
     height: 100vh;
 } */

 /* @media only screen and (min-width: 786px) {
     #site {
         width: 780px;
         margin: 15px auto;
     }
     aside {
         box-sizing: border-box;
         display: inline-block;
         width: 20%;
     }
     aside>ul {
         margin: 15px;
     }
     main {
         box-sizing: border-box;
         display: inline-block;
         width: 80%;
     }
 } */