 /* * {
     margin: 0;
     padding: 10px 70px;
     background-color: rgb(115, 121, 124);
     color: rgb(24, 11, 5);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } */

 form {
     padding: 20px 30px;
     background-color: rgb(240, 116, 71);
 }

 table {
     margin: 10px 50px;
     padding: 10px 30px;
 }

 .txt {
     text-align: center;
     font-size: 30pt;
     background-color: rgb(240, 116, 71);
 }

 .td {
     box-sizing: border-box;
     font-size: 25pt;
 }

 .t {
     text-align: center;
     font-size: 35pt;
     background-color: rgb(240, 116, 71);
 }

 table, th, td {
     border: 2px solid rgb(218, 123, 14);
 }

 a:hover {
     color: white;
     background-color: rgb(240, 116, 71);
     ;
 }

 /* .hline {
     font-size: 18pt;
 } */

 /* body {
     margin: 50px;
     width: 100vw;
     height: 100vh;
 } */