<!DOCTYPE html>
<html lang="en">

<head>
<title> {{greeting}}, {{name}} </title>
<link rel="stylesheet" href="static/style.css"/>

</head>
<body> 
<h1> {{greeting}} , {{name}} </h1>
<img src="static/hawaii.jpg" alt="image" style="width:560px"/>
</body>
</html>