<!DOCTYPE html>
<html lang="en">

<head>
<title > {{greeting}} </title>
<link rel="stylesheet" href="/static/style.css"/>
</head>
<body> 
<h1 class="t"> {{greeting}} </h1>
<img class="s1" src="/static/store2.jpg" alt="image" />
<div class="txt"> Our Current Stock </div>

<div id="product_table">
{% for item in inv %}
<table class="td">
    <tr class="hline">
    <th>Product</th>
    <th>Total</th>
    </tr>
        {# <td> {{item.id}} </td> #}
        <td><a href="{{item.link}}">{{item.name}}</a> </td>
        <td><a href="edit/{{item.id}}">{{item.total}}</a> </td>
 </table>   
{% endfor %}
</div>
</body>
<footer>
 {{foot}}
</footer>
</html>